In [1]:
import sys
sys.path.append('/scratch/pradap/python-work/enrique/')

In [2]:
%install_ext https://raw.github.com/cpcloud/ipython-autotime/master/autotime.py

Installed autotime.py. To use it, type:
  %load_ext autotime

In [3]:
%load_ext autotime

In [4]:
import magellan as mg

time: 462 ms

In [5]:
A = mg.load_dataset('table_A')

time: 2.61 ms

In [6]:
B = mg.load_dataset('table_B')

time: 2.07 ms

In [7]:
mg.init_jvm()

True

time: 60.3 ms

In [8]:
# block using zipcode
ab = mg.AttrEquivalenceBlocker()
C = ab.block_tables(A, B, 'zipcode', 'zipcode', l_output_attrs=['name', 'hourly_wage', 'zipcode'],
                    r_output_attrs=['name', 'hourly_wage', 'zipcode'])

time: 8.48 ms

In [9]:
C

,_id,ltable.ID,rtable.ID,ltable.name,ltable.hourly_wage,ltable.zipcode,rtable.name,rtable.hourly_wage,rtable.zipcode
0,0,a1,b1,Kevin Smith,30.0,94107,Mark Levene,29.5,94107
1,1,a1,b2,Kevin Smith,30.0,94107,Bill Bridge,32.0,94107
2,2,a1,b6,Kevin Smith,30.0,94107,Michael Brodie,32.5,94107
3,3,a3,b1,William Bridge,32.0,94107,Mark Levene,29.5,94107
4,4,a3,b2,William Bridge,32.0,94107,Bill Bridge,32.0,94107
5,5,a3,b6,William Bridge,32.0,94107,Michael Brodie,32.5,94107
6,6,a2,b3,Michael Franklin,27.5,94122,Mike Franklin,27.5,94122
7,7,a2,b4,Michael Franklin,27.5,94122,Joseph Kuan,26.0,94122
8,8,a2,b5,Michael Franklin,27.5,94122,Alfons Kemper,35.0,94122
9,9,a4,b3,Binto George,32.5,94122,Mike Franklin,27.5,94122
10,10,a4,b4,Binto George,32.5,94122,Joseph Kuan,26.0,94122
11,11,a4,b5,Binto George,32.5,94122,Alfons Kemper,35.0,94122
12,12,a5,b3,Alphonse Kemper,35.0,94122,Mike Franklin,27.5,94122
13,13,a5,b4,Alphonse Kemper,35.0,94122,Joseph Kuan,26.0,94122
14,14,a5,b5,Alphonse Kemper,35.0,94122,Alfons Kemper,35.0,94122

time: 22.6 ms

In [10]:
feat_table = mg.get_features_for_blocking(A, B)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

[('ID_ID_lev', 'ID', 'ID', None, None, 'lev', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef ID_ID_lev(ltuple, rtuple):\n    return lev(ltuple["ID"], rtuple["ID"])'), ('ID_ID_jar', 'ID', 'ID', None, None, 'jaro', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef ID_ID_jar(ltuple, rtuple):\n    return jaro(ltuple["ID"], rtuple["ID"])'), ('ID_ID_jwn', 'ID', 'ID', None, None, 'jaro_winkler', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef ID_ID_jwn(ltuple, rtuple):\n    return jaro_winkler(ltuple["ID"], rtuple["ID"])'), ('ID_ID_sdx', 'ID', 'ID', None, None, 'soundex', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef ID_ID_sdx(ltuple, rtuple):\n    return soundex(ltuple["ID"], rtuple["ID"])'), ('ID_ID_exm', 'ID', 'ID', None, None, 'exact_match', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef ID_ID_exm(ltuple, rtuple):\n    return exact_match(ltuple["ID"], rtuple["ID"])'), ('ID_ID_jac_qgm_3_qgm_3', 'ID', 'ID', 'qgm_3', 'qgm_3', 'jaccard', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef ID_ID_jac_qgm_3_qgm_3(ltuple, rtuple):\n    return jaccard(qgm_3(ltuple["ID"]), qgm_3(rtuple["ID"])) ')]
[('name_name_jac_qgm_3_qgm_3', 'name', 'name', 'qgm_3', 'qgm_3', 'jaccard', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef name_name_jac_qgm_3_qgm_3(ltuple, rtuple):\n    return jaccard(qgm_3(ltuple["name"]), qgm_3(rtuple["name"])) '), ('name_name_cos_dlm_dc0_dlm_dc0', 'name', 'name', 'dlm_dc0', 'dlm_dc0', 'cosine', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef name_name_cos_dlm_dc0_dlm_dc0(ltuple, rtuple):\n    return cosine(dlm_dc0(ltuple["name"]), dlm_dc0(rtuple["name"])) '), ('name_name_jac_dlm_dc0_dlm_dc0', 'name', 'name', 'dlm_dc0', 'dlm_dc0', 'jaccard', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef name_name_jac_dlm_dc0_dlm_dc0(ltuple, rtuple):\n    return jaccard(dlm_dc0(ltuple["name"]), dlm_dc0(rtuple["name"])) '), ('name_name_mel', 'name', 'name', None, None, 'monge_elkan', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef name_name_mel(ltuple, rtuple):\n    return monge_elkan(ltuple["name"], rtuple["name"])'), ('name_name_nmw', 'name', 'name', None, None, 'needleman_wunsch', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef name_name_nmw(ltuple, rtuple):\n    return needleman_wunsch(ltuple["name"], rtuple["name"])'), ('name_name_sw', 'name', 'name', None, None, 'smith_waterman', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef name_name_sw(ltuple, rtuple):\n    return smith_waterman(ltuple["name"], rtuple["name"])'), ('name_name_swg', 'name', 'name', None, None, 'smith_waterman_gotoh', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef name_name_swg(ltuple, rtuple):\n    return smith_waterman_gotoh(ltuple["name"], rtuple["name"])')]
[('birth_year_birth_year_exm', 'birth_year', 'birth_year', None, None, 'exact_match', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef birth_year_birth_year_exm(ltuple, rtuple):\n    return exact_match(ltuple["birth_year"], rtuple["birth_year"])'), ('birth_year_birth_year_anm', 'birth_year', 'birth_year', None, None, 'abs_norm', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef birth_year_birth_year_anm(ltuple, rtuple):\n    return abs_norm(ltuple["birth_year"], rtuple["birth_year"])'), ('birth_year_birth_year_lev', 'birth_year', 'birth_year', None, None, 'lev', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef birth_year_birth_year_lev(ltuple, rtuple):\n    return lev(ltuple["birth_year"], rtuple["birth_year"])')]
[('hourly_wage_hourly_wage_exm', 'hourly_wage', 'hourly_wage', None, None, 'exact_match', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef hourly_wage_hourly_wage_exm(ltuple, rtuple):\n    return exact_match(ltuple["hourly_wage"], rtuple["hourly_wage"])'), ('hourly_wage_hourly_wage_anm', 'hourly_wage', 'hourly_wage', None, None, 'abs_norm', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef hourly_wage_hourly_wage_anm(ltuple, rtuple):\n    return abs_norm(ltuple["hourly_wage"], rtuple["hourly_wage"])'), ('hourly_wage_hourly_wage_lev', 'hourly_wage', 'hourly_wage', None, None, 'lev', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef hourly_wage_hourly_wage_lev(ltuple, rtuple):\n    return lev(ltuple["hourly_wage"], rtuple["hourly_wage"])')]
[('zipcode_zipcode_exm', 'zipcode', 'zipcode', None, None, 'exact_match', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef zipcode_zipcode_exm(ltuple, rtuple):\n    return exact_match(ltuple["zipcode"], rtuple["zipcode"])'), ('zipcode_zipcode_anm', 'zipcode', 'zipcode', None, None, 'abs_norm', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef zipcode_zipcode_anm(ltuple, rtuple):\n    return abs_norm(ltuple["zipcode"], rtuple["zipcode"])'), ('zipcode_zipcode_lev', 'zipcode', 'zipcode', None, None, 'lev', 'from magellan.feature.simfunctions import *\nfrom magellan.feature.tokenizers import *\ndef zipcode_zipcode_lev(ltuple, rtuple):\n    return lev(ltuple["zipcode"], rtuple["zipcode"])')]
time: 10.4 ms

In [11]:
feat_table

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source
0,ID_ID_lev,ID,ID,None,None,lev,<function ID_ID_lev at 0x7f14d294c140>,from magellan.feature.simfunctions import *\nf...
1,ID_ID_jar,ID,ID,None,None,jaro,<function ID_ID_jar at 0x7f14d294c1b8>,from magellan.feature.simfunctions import *\nf...
2,ID_ID_jwn,ID,ID,None,None,jaro_winkler,<function ID_ID_jwn at 0x7f14d294c050>,from magellan.feature.simfunctions import *\nf...
3,ID_ID_sdx,ID,ID,None,None,soundex,<function ID_ID_sdx at 0x7f14d294c320>,from magellan.feature.simfunctions import *\nf...
4,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x7f14d294c488>,from magellan.feature.simfunctions import *\nf...
5,ID_ID_jac_qgm_3_qgm_3,ID,ID,qgm_3,qgm_3,jaccard,<function ID_ID_jac_qgm_3_qgm_3 at 0x7f14d294c...,from magellan.feature.simfunctions import *\nf...
6,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x7f14d...,from magellan.feature.simfunctions import *\nf...
7,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x7...,from magellan.feature.simfunctions import *\nf...
8,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x7...,from magellan.feature.simfunctions import *\nf...
9,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x7f14d294c6e0>,from magellan.feature.simfunctions import *\nf...
10,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x7f14d294c758>,from magellan.feature.simfunctions import *\nf...
11,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x7f14d294c7d0>,from magellan.feature.simfunctions import *\nf...
12,name_name_swg,name,name,None,None,smith_waterman_gotoh,<function name_name_swg at 0x7f14d294c848>,from magellan.feature.simfunctions import *\nf...
13,birth_year_birth_year_exm,birth_year,birth_year,None,None,exact_match,<function birth_year_birth_year_exm at 0x7f14d...,from magellan.feature.simfunctions import *\nf...
14,birth_year_birth_year_anm,birth_year,birth_year,None,None,abs_norm,<function birth_year_birth_year_anm at 0x7f14d...,from magellan.feature.simfunctions import *\nf...
15,birth_year_birth_year_lev,birth_year,birth_year,None,None,lev,<function birth_year_birth_year_lev at 0x7f14d...,from magellan.feature.simfunctions import *\nf...
16,hourly_wage_hourly_wage_exm,hourly_wage,hourly_wage,None,None,exact_match,<function hourly_wage_hourly_wage_exm at 0x7f1...,from magellan.feature.simfunctions import *\nf...
17,hourly_wage_hourly_wage_anm,hourly_wage,hourly_wage,None,None,abs_norm,<function hourly_wage_hourly_wage_anm at 0x7f1...,from magellan.feature.simfunctions import *\nf...
18,hourly_wage_hourly_wage_lev,hourly_wage,hourly_wage,None,None,lev,<function hourly_wage_hourly_wage_lev at 0x7f1...,from magellan.feature.simfunctions import *\nf...
19,zipcode_zipcode_exm,zipcode,zipcode,None,None,exact_match,<function zipcode_zipcode_exm at 0x7f14d294cb90>,from magellan.feature.simfunctions import *\nf...
20,zipcode_zipcode_anm,zipcode,zipcode,None,None,abs_norm,<function zipcode_zipcode_anm at 0x7f14d294cc08>,from magellan.feature.simfunctions import *\nf...
21,zipcode_zipcode_lev,zipcode,zipcode,None,None,lev,<function zipcode_zipcode_lev at 0x7f14d294cc80>,from magellan.feature.simfunctions import *\nf...

time: 30.5 ms

In [12]:
c_prime = mg.extract_feat_vecs(C, attrs_before=['ltable.name', 'rtable.name'], feat_table=feat_table)

time: 191 ms

In [13]:
c_prime

,_id,ltable.ID,rtable.ID,ltable.name,rtable.name,ID_ID_lev,ID_ID_jar,ID_ID_jwn,ID_ID_sdx,ID_ID_exm,...,name_name_swg,birth_year_birth_year_exm,birth_year_birth_year_anm,birth_year_birth_year_lev,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_anm,hourly_wage_hourly_wage_lev,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev
0,0,a1,b1,Kevin Smith,Mark Levene,0.5,0.666667,0.666667,0.888889,0,...,0.327273,0,0.998994,0.75,0,0.983333,0.25,1,1,1
1,1,a1,b2,Kevin Smith,Bill Bridge,0.0,0.000000,0.000000,0.888889,0,...,0.145455,0,0.998492,0.75,0,0.937500,0.75,1,1,1
2,2,a1,b6,Kevin Smith,Michael Brodie,0.0,0.000000,0.000000,0.888889,0,...,0.181818,0,0.998994,0.75,0,0.923077,0.50,1,1,1
3,3,a3,b1,William Bridge,Mark Levene,0.0,0.000000,0.000000,0.888889,0,...,0.127273,0,0.999497,0.75,0,0.921875,0.25,1,1,1
4,4,a3,b2,William Bridge,Bill Bridge,0.0,0.000000,0.000000,0.888889,0,...,0.781818,1,1.000000,1.00,1,1.000000,1.00,1,1,1
5,5,a3,b6,William Bridge,Michael Brodie,0.0,0.000000,0.000000,0.888889,0,...,0.400000,0,0.999497,0.75,0,0.984615,0.75,1,1,1
6,6,a2,b3,Michael Franklin,Mike Franklin,0.0,0.000000,0.000000,0.888889,0,...,0.707692,1,1.000000,1.00,1,1.000000,1.00,1,1,1
7,7,a2,b4,Michael Franklin,Joseph Kuan,0.0,0.000000,0.000000,0.888889,0,...,0.181818,0,0.996982,0.75,0,0.945455,0.50,1,1,1
8,8,a2,b5,Michael Franklin,Alfons Kemper,0.0,0.000000,0.000000,0.888889,0,...,0.123077,0,0.997988,0.75,0,0.785714,0.25,1,1,1
9,9,a4,b3,Binto George,Mike Franklin,0.0,0.000000,0.000000,0.888889,0,...,0.166667,0,0.999497,0.75,0,0.846154,0.50,1,1,1
10,10,a4,b4,Binto George,Joseph Kuan,0.5,0.666667,0.666667,0.888889,0,...,0.145455,0,0.997484,0.75,0,0.800000,0.25,1,1,1
11,11,a4,b5,Binto George,Alfons Kemper,0.0,0.000000,0.000000,0.888889,0,...,0.150000,0,0.998490,0.75,0,0.928571,0.50,1,1,1
12,12,a5,b3,Alphonse Kemper,Mike Franklin,0.0,0.000000,0.000000,0.888889,0,...,0.153846,0,0.997988,0.75,0,0.785714,0.25,1,1,1
13,13,a5,b4,Alphonse Kemper,Joseph Kuan,0.0,0.000000,0.000000,0.888889,0,...,0.309091,0,0.998992,0.75,0,0.742857,0.50,1,1,1
14,14,a5,b5,Alphonse Kemper,Alfons Kemper,0.5,0.666667,0.666667,0.888889,0,...,0.723077,1,1.000000,1.00,1,1.000000,1.00,1,1,1

time: 51 ms