In [13]:
%load_ext autotime

In [14]:
import sys
sys.path.append('/scratch/pradap/python-work/enrique/')

time: 789 µs

In [15]:
import magellan as mg

time: 569 µs

In [16]:
A = mg.load_dataset('table_A')
B = mg.load_dataset('table_B')

time: 4.43 ms

In [17]:
L = mg.read_csv('lable_ab_correct_labels.csv', ltable=A, rtable=B, 
                foreign_key_ltable='ltable.ID', foreign_key_rtable='rtable.ID')

time: 2.68 ms

In [19]:
L

    _id ltable.ID rtable.ID       ltable.name     rtable.name  gold
0     0        a1        b1       Kevin Smith     Mark Levene     0
1     1        a1        b2       Kevin Smith     Bill Bridge     0
2     2        a1        b6       Kevin Smith  Michael Brodie     0
3     3        a3        b1    William Bridge     Mark Levene     0
4     4        a3        b2    William Bridge     Bill Bridge     1
5     5        a3        b6    William Bridge  Michael Brodie     0
6     6        a2        b3  Michael Franklin   Mike Franklin     1
7     7        a2        b4  Michael Franklin     Joseph Kuan     0
8     8        a2        b5  Michael Franklin   Alfons Kemper     0
9     9        a4        b3      Binto George   Mike Franklin     0
10   10        a4        b4      Binto George     Joseph Kuan     0
11   11        a4        b5      Binto George   Alfons Kemper     0
12   12        a5        b3   Alphonse Kemper   Mike Franklin     0
13   13        a5        b4   Alphonse Kemper     Joseph Kuan     0
14   14        a5        b5   Alphonse Kemper   Alfons Kemper     1

time: 17.1 ms

In [20]:
f = mg.get_features_for_matching(A, B)

WARNING:magellan.feature.autofeaturegen:address type and address type are different

time: 10.9 ms

In [24]:
G = mg.extract_feat_vecs(L, feature_table=f, attrs_after='gold')

time: 48.6 ms

In [25]:
G

,_id,ltable.ID,rtable.ID,ID_ID_lev,ID_ID_jar,ID_ID_jwn,ID_ID_sdx,ID_ID_exm,ID_ID_jac_qgm_3_qgm_3,name_name_jac_qgm_3_qgm_3,...,birth_year_birth_year_exm,birth_year_birth_year_anm,birth_year_birth_year_lev,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_anm,hourly_wage_hourly_wage_lev,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev,gold
0,0,a1,b1,0.5,0.666667,0.666667,0.888889,0,0,0.000000,...,0,0.998994,0.75,0,0.983333,0.25,1,1,1,0
1,1,a1,b2,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.998492,0.75,0,0.937500,0.75,1,1,1,0
2,2,a1,b6,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.998994,0.75,0,0.923077,0.50,1,1,1,0
3,3,a3,b1,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.999497,0.75,0,0.921875,0.25,1,1,1,0
4,4,a3,b2,0.0,0.000000,0.000000,0.888889,0,0,0.400000,...,1,1.000000,1.00,1,1.000000,1.00,1,1,1,1
5,5,a3,b6,0.0,0.000000,0.000000,0.888889,0,0,0.043478,...,0,0.999497,0.75,0,0.984615,0.75,1,1,1,0
6,6,a2,b3,0.0,0.000000,0.000000,0.888889,0,0,0.388889,...,1,1.000000,1.00,1,1.000000,1.00,1,1,1,1
7,7,a2,b4,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.996982,0.75,0,0.945455,0.50,1,1,1,0
8,8,a2,b5,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.997988,0.75,0,0.785714,0.25,1,1,1,0
9,9,a4,b3,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.999497,0.75,0,0.846154,0.50,1,1,1,0
10,10,a4,b4,0.5,0.666667,0.666667,0.888889,0,0,0.000000,...,0,0.997484,0.75,0,0.800000,0.25,1,1,1,0
11,11,a4,b5,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.998490,0.75,0,0.928571,0.50,1,1,1,0
12,12,a5,b3,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.997988,0.75,0,0.785714,0.25,1,1,1,0
13,13,a5,b4,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.998992,0.75,0,0.742857,0.50,1,1,1,0
14,14,a5,b5,0.5,0.666667,0.666667,0.888889,0,0,0.333333,...,1,1.000000,1.00,1,1.000000,1.00,1,1,1,1

time: 55.6 ms

In [34]:
train_test = mg.train_test_split(G, random_state=2)

time: 2.51 ms

In [38]:
train_test['train']

,_id,ltable.ID,rtable.ID,ID_ID_lev,ID_ID_jar,ID_ID_jwn,ID_ID_sdx,ID_ID_exm,ID_ID_jac_qgm_3_qgm_3,name_name_jac_qgm_3_qgm_3,...,birth_year_birth_year_exm,birth_year_birth_year_anm,birth_year_birth_year_lev,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_anm,hourly_wage_hourly_wage_lev,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev,gold
7,7,a2,b4,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.996982,0.75,0,0.945455,0.50,1,1,1,0
12,12,a5,b3,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.997988,0.75,0,0.785714,0.25,1,1,1,0
2,2,a1,b6,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.998994,0.75,0,0.923077,0.50,1,1,1,0
6,6,a2,b3,0.0,0.000000,0.000000,0.888889,0,0,0.388889,...,1,1.000000,1.00,1,1.000000,1.00,1,1,1,1
14,14,a5,b5,0.5,0.666667,0.666667,0.888889,0,0,0.333333,...,1,1.000000,1.00,1,1.000000,1.00,1,1,1,1
13,13,a5,b4,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.998992,0.75,0,0.742857,0.50,1,1,1,0
8,8,a2,b5,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.997988,0.75,0,0.785714,0.25,1,1,1,0

time: 37 ms

In [39]:
train_test['test']

,_id,ltable.ID,rtable.ID,ID_ID_lev,ID_ID_jar,ID_ID_jwn,ID_ID_sdx,ID_ID_exm,ID_ID_jac_qgm_3_qgm_3,name_name_jac_qgm_3_qgm_3,...,birth_year_birth_year_exm,birth_year_birth_year_anm,birth_year_birth_year_lev,hourly_wage_hourly_wage_exm,hourly_wage_hourly_wage_anm,hourly_wage_hourly_wage_lev,zipcode_zipcode_exm,zipcode_zipcode_anm,zipcode_zipcode_lev,gold
11,11,a4,b5,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.998490,0.75,0,0.928571,0.50,1,1,1,0
4,4,a3,b2,0.0,0.000000,0.000000,0.888889,0,0,0.400000,...,1,1.000000,1.00,1,1.000000,1.00,1,1,1,1
5,5,a3,b6,0.0,0.000000,0.000000,0.888889,0,0,0.043478,...,0,0.999497,0.75,0,0.984615,0.75,1,1,1,0
0,0,a1,b1,0.5,0.666667,0.666667,0.888889,0,0,0.000000,...,0,0.998994,0.75,0,0.983333,0.25,1,1,1,0
9,9,a4,b3,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.999497,0.75,0,0.846154,0.50,1,1,1,0
3,3,a3,b1,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.999497,0.75,0,0.921875,0.25,1,1,1,0
1,1,a1,b2,0.0,0.000000,0.000000,0.888889,0,0,0.000000,...,0,0.998492,0.75,0,0.937500,0.75,1,1,1,0
10,10,a4,b4,0.5,0.666667,0.666667,0.888889,0,0,0.000000,...,0,0.997484,0.75,0,0.800000,0.25,1,1,1,0

time: 44.4 ms

In [51]:
lg = mg.LogRegMatcher()

time: 644 µs

In [52]:
lg.fit(table=train_test['train'], exclude_attrs=['_id', 'ltable.ID', 'rtable.ID', 'gold'], target_attr='gold')

time: 13.3 ms

In [53]:
lg.clf.coef_

array([[ 0.13158166,  0.17544222,  0.17544222, -0.25541141,  0.        ,
         0.        ,  0.21643175,  0.29706678,  0.19804452,  0.24628666,
         0.36200206,  0.01806101,  0.29396164,  0.25277279,  0.59413356,
        -0.28575784, -0.06697   ,  0.59413356, -0.14255633,  0.23490655,
        -0.28733785, -0.28733785, -0.28733785]])

time: 2.34 ms

In [54]:
lg.fit(table=train_test['test'], exclude_attrs=['_id', 'ltable.ID', 'rtable.ID', 'gold'], target_attr='gold')

time: 12.1 ms

In [55]:
lg.clf.coef_

array([[-0.09899586, -0.13199448, -0.13199448, -0.28042477,  0.        ,
         0.        ,  0.20022056,  0.25830367,  0.17220245,  0.22559458,
         0.24946759, -0.05954029,  0.2824761 ,  0.2257008 ,  0.51660734,
        -0.31456869, -0.10745658,  0.51660734, -0.24753735,  0.11187821,
        -0.31547788, -0.31547788, -0.31547788]])

time: 2.51 ms

In [56]:
lg1 = mg.LogRegMatcher()

time: 656 µs

In [57]:
lg1.fit(table=train_test['test'], exclude_attrs=['_id', 'ltable.ID', 'rtable.ID', 'gold'], target_attr='gold')

time: 12.7 ms

In [58]:
lg1.clf.coef_

array([[-0.09899586, -0.13199448, -0.13199448, -0.28042477,  0.        ,
         0.        ,  0.20022056,  0.25830367,  0.17220245,  0.22559458,
         0.24946759, -0.05954029,  0.2824761 ,  0.2257008 ,  0.51660734,
        -0.31456869, -0.10745658,  0.51660734, -0.24753735,  0.11187821,
        -0.31547788, -0.31547788, -0.31547788]])

time: 2.35 ms